.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $header-height;
  border-bottom: 1px solid $color-greyscale-4;
  color: $color-greyscale-3;

  h1 {
    font-family: $title-font;
    font-weight: 900;
    color: $color-greyscale-1;
    font-size: 1.7rem;
    line-height: 1.2;
    text-align: center;

    @media (min-width: 25rem) {
        font-size: 2rem;
    }
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    color: $color-greyscale-2;

    @media (min-width: 25rem) {
      font-size: 1rem;
  }
  }
}