/*
  Theme and global variables
*/
  
$game-spacing: 32px;
$header-height: 5rem;

$color-success: #6aaa64;
$color-misplaced: #c9b458;
$color-lose: #F14529;

$color-greyscale-1: #212121;
$color-greyscale-2: #363636;
$color-greyscale-3: #787c7e;
$color-greyscale-4: #d3d6da;

$title-font: 'Aleo', serif;